<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="modal-header">
                <h3 class="modal-title">Company (Add)</h3>
            </div>
        </div>

        <div class="modal-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <br />


                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Name</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" type="text" ng-model="company.name" />
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Description</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" type="text" ng-model="company.desc" />
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Field</label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control"
                                        ng-model="company.field"
                                        ng-init="company.field = fields[1]"
                                        ng-options="field as field.name for field in fields track by field.id" />
                            </div>
                        </div>
                        <br />


                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Status</label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control"
                                        ng-model="company.status"
                                        ng-init="company.status = statuses[1]"
                                        ng-options="status as status.name for status in statuses track by status.id" />
                            </div>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</body>
</html>
