<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div ng-controller="mapController">
        <div class="container-fluid">
            <div class="row">
                <div class="modal-header">
                    <div class="col-md-4">
                        <h3 class="modal-title">Map</h3>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <!--<div class="input-group input-group-sm">
                            <input type="text" class="form-control" ng-model="selected" placeholder="Search" />
                            <div class="input-group-btn">
                                <button class="btn btn-default" ng-click="selected = ''">
                                    <span class="glyphicon glyphicon-remove" />
                                </button>
                                <button class="btn btn-default" type="button" ng-click="add()">
                                    <span class="glyphicon glyphicon-plus" />
                                </button>
                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="modal-body">

                    <div id="map"></div>

                </div>

                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #map {
            position: relative;
            width: 100%;
            min-height: 700px;
        }
    </style>

</body>
</html>
