<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="modal-header">
                <h3 class="modal-title">User ({{user.name}})</h3>
            </div>
        </div>

        <div class="modal-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <br />

                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Password</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" type="password" ng-model="password1" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Password</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" type="password" ng-model="password2" />
                            </div>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="update()">Update</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</body>
</html>
